<%- include("../templates/encabezado2")%>
<%- include("../templates/menu")%>
<br>
<center><h1>Modificar Usuario</h1> </h1></center>
<form action="/modificarUsuarioo" method="post" id="formulario">
    <div>
        <input type="hidden" name="id" id="id" value= <%= usuario.id %>>
        <input type="text" name="nomU" id="nomU" placeholder="Nombre" value=<%= usuario.nomU  %> autofocus> 
        <span mensajeNombre></span>
    </div>
    <div>
        <input type="text" name="nomUsu" id="nomUsu" placeholder="Nombre de Usuario" value=<%= usuario.nomUsu %>>
        <span mensajeUsuario></span>
    </div>
    <div>
        <input type="text" name="password" id="password" placeholder="Password" value=<%= usuario.password %>>
        <span mensajePassword></span>
    </div>
    <div>
        <button type="submit">Modificar usuario</button>
    </div>
</form>
<%- include("../templates/pie")%>