<%- include("../templates/menuC")%>
<%- include("../templates/encabezado2")%>
<br>
<center><h1>Mostrar Departamentos </h1></center>
<center>
    <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Direccion</th>
                <th>Costo</th>
                <th>Tiempo</th>
                <th>Descripcion</th>
            </tr>
            <%
            Departamentos.forEach((departamento)=>{
            %>
            <tr>
                <td><%= departamento.id %></td>
                <td><%= departamento.nomD %></td>
                <td><%= departamento.telD %></td>
                <td><%= departamento.direccionD %></td>
                <td><%= departamento.costoD %></td>
                <td><%= departamento.tiempoD %></td>
				<td><%= departamento.descaD %></td>
                <td>
                    <a href="/editarDe/<%= departamento.id %>" target="_blank">Editar</a> / <a href="/borraDe/<%= departamento.id %>"target="_blank">Borrar</a>
                </td>
            </tr>
            <%
            });
            %>
    </table>
			<div class="navbar">
			
				<nav class="menu">
					<h2><FONT FACE="courier new"><a href="/departamentosP"> R e g r e s a r</a></FONT></h2>
				</nav>
			</div>

<%- include("../templates/pie")%>