<%- include("../templates/menuC")%>
<%- include("../templates/encabezado2")%>
<h2>Casas Disponibles</h2>
<br>
<center>
    <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Costo</th>
                <th>Tiempo</th>
                <th>Descripcion</th>
            </tr>
            <%
            Casas.forEach((casa)=>{
            %>
            <tr>
                <td><%= casa.id %></td>
                <td><%= casa.nomPropi %></td>
                <td><%= casa.tel %></td>
                <td><%= casa.direccion %></td>
                <td><%= casa.costo %></td>
                <td><%= casa.tiempo %></td>
				<td><%= casa.desca %></td>
                <td>
                    
                </td>
            </tr>
            <%
            });
            %>
    </table>
<br>
<br>
<br>

			<nav class="menu">
				<h2><FONT FACE="courier new"><a href="/casasU"> Regresar</a></FONT></h2>
			</nav>
		</div>


<%- include("../templates/pie")%>